.product-modal{
    padding: 1rem;
    display: flex;
    height: 120vh;

    @include mobile{
        flex-direction: column;
        height: 135vh;
    }

    &__box-img{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 86vh;
        
        @include mobile{
            width: 100%;
        }
        
        img{
            width: 70%;
        }
    }

    &__content{
        width: 50%;
        display: flex;
        height: 120vh;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1.65rem;

        @include mobile{
            margin-top: 1rem;
            width: 100%;
        }

        &__info{
            h1{
                color: #000000;
                font-size: 36px;
                text-transform: capitalize;
                line-height: 1.5;
                font-weight: 400;
                margin-bottom: 0.5rem;

                @include mobile{
                    font-size: 26px;
                }
            }
            h2{
                font-size: 36px;
                color: #000000;
                line-height: 30px;
                font-weight: 500;
                margin-bottom: 0.5rem;

                @include mobile{
                    font-size: 22px;
                }
            }

            &__evaluate{
                display: flex;
                gap: 0.25rem;
                margin-top: 1.5rem;
                align-items: center;
                justify-content: flex-start;

                .star i.bx.bxs-star{
                    color: #ffde00;
                    font-size: 18px;
                    margin-top: 0.25rem;
                }

                .customer{
                    text-decoration: none;
                    color: #929191;
                    position: relative;
                    padding: 0;
                    font-size: 18px;

                    &:hover{
                        cursor: pointer;
                        color: $main-color;
                    }
                }
            }

            &__des{
                color: #181818;
                line-height: 30px;
                margin-bottom: 10px;
                font-size: 1.25rem;

                @include mobile{
                    font-size: 1.35rem;
                }
            }

            &__sort{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                font-size: 1.25rem;
                @include mobile{
                    font-size: 1.35rem;
                }

                .sku, .category, .tags{
                    span{
                        font-weight: 500;
                        color: #266bf9;
                        display: inline-block;
                        margin-right: 5px;
                    }
                    strong{
                        font-weight: 400;
                        color: #484545;
                        margin-left: 3px;

                        &:hover{
                            color: $main-color;
                            cursor: pointer;
                        }
                    }
                }
            }

            &__item{
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                margin-top: 0.5rem;
                font-size: 1.15rem;

                &__list{
                    width: 100%;
                    display: flex;
                    
                    .active{
                        border: 2px solid;
                        border-color: $main-color;
                    }

                    &__color{
                        border: 2px solid #e1e1e1;
                        margin-right: 1.5rem;
                        padding: 0.5rem;
                        text-transform: capitalize;
                        &:hover{
                            border-color: $main-color;
                            cursor: pointer;
                        }
                    }

                    &__size{
                        margin-top: 1rem;
                        border: 2px solid #e1e1e1;
                        margin-right: 1.5rem;
                        padding: 0.5rem;
                        text-transform: capitalize;
                        &:hover{
                            border-color: $main-color;
                            cursor: pointer;
                        }
                    }
                }
            }

            &__combobox{
                display: flex;
                gap: 1rem;
                align-items: center;

                &__quantity{
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    border-radius: 5px;
    
                    &__btn{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 30px;
                        height: 30px;
                        border: 2px solid #e1e1e1;
                        font-size: 1.25rem;
                        cursor: pointer;
                    }
    
                    &__input{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 30px;
                        width: 30px;
                        font-size: 1.25rem;
                        border-top: 2px solid #e1e1e1;
                        border-bottom: 2px solid #e1e1e1;
                    }
                }

                &__button{

                }
            }

            &__information{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding-left: 0.75rem;

                @include mobile{
                    font-size: 1.15rem;
                }

                &__item{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    line-height: 3.5;
                    
                    h3{
                        color: #525252;
                        display: inline-block;
                        font-weight: 500;
                        margin: 0 26px 0 0;
                        min-width: 85px;
                    }
                    span{
                        margin-left: 1rem;
                    }
                }
            }

            &__description{
                line-height: 3.5;
                padding-left: 0.75rem;
                font-size: 1.15rem;
            }

            &__review{
                line-height: 3.5;
                padding-left: 0.75rem;
                font-size: 1.15rem;
            }

            &__button{
                button{
                    border: 2px solid #266bf9;
                    outline: 0;
                    color: #266bf9;
                    font-size: 1.25rem;
                    border-radius: 0.5rem;
                    background-color: transparent;
                    box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
                    cursor: pointer;
                    padding: 0.5rem 0.5rem;
                    margin-left: 0.5rem;
                    transition: all 0.5s ease-in-out;
                }

                .add-cart{
                    background-color: #fff;
                    color: $main-color;

                    &:hover{
                        background-color: $main-color;
                        color: #fff;
                    }
                }

                .buy-now{
                    background-color: $main-color;
                    color: #fff;

                    &:hover{
                        background-color: #fff;
                        color: $main-color;
                    }
                }
            }
        }
    }
}
hr{
    border-top: 3px solid #e1e1e1;
    border-left: none;
    border-bottom: none;
    border-right: none;
}
.product-modal .react-tabs{
    margin-top: 0rem;
    @include mobile{
        font-size: 1.15rem;
    }
}
.product-modal .react-tabs__tab-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    border-bottom: 2px solid #e1e1e1;
    font-size: 1.25rem;
    z-index: 1;
    
}
.product-modal .react-tabs__tab {
    padding: 0.75rem;
    border: none;
    border-radius: 0;
    color: #666;
}
.product-modal .react-tabs__tab:hover {
    color: $main-color;
    background-color: transparent;
}
.product-modal .react-tabs__tab--selected{
    background-color: transparent;
    // border-top: 2px solid $main-color !important;
    border-top: 2px solid $main-color !important;
    // border-right: 2px solid $main-color !important;
    border-bottom: 0px solid red !important;
    // border-radius: 0.5rem;
    // border-bottom-left-radius: 0;
    // border-bottom-right-radius: 0;
    z-index: 99;
    color: $main-color;
}